`APP_ENV=production
APP_KEY=base64:kqm+MzDkZp00i+tL89IPYpwOHr1nRRiRxSL8tPDxEGw=
APP_DEBUG=true
APP_URL=https://localhost
ENABLE_HTML_MIN=FALSE
ADMIN_VERSION="v2"

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=oscroh
DB_USERNAME=root
DB_PASSWORD=

DB_HOST="localhost"
DB_DATABASE="oscroh"
DB_USERNAME="root"
DB_PORT="3306"
DB_PASSWORD=""