/node_modules
/hot
/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea
node_modules
libs
dist
css/theme
app/cloudfront/*
.php-cs-fixer.cache
sitemap.xml
key.pem
private_key.pem
/js/builds
/css/builds
/js/filament
/css/filament
/vendor
/css/saade
/js/saade
/fonts/filament
